.container-nav{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.bg-light .title-main{
    font-size: 22px;
    font-weight: 700;
    font-family: monospace;
}
.navbar{
    display: inline;
}