.table-list{
    width: 100%;
    margin-top: 21px;
    margin-left: 0px!important;
    margin-right: 0px!important;
}
#searchEvent{
    border-color: #ee6464;
    width: 60%;
    height: 52px;
    text-align: center;
}
#modalInformation{
    opacity: 1;
    top:1%;
    padding: 20px;
}
#select{
    width: 35%;
    display: inline;
}
.select-gender-search{
    height: 60px;
    text-align: end;
}
.container-image{
    background-color:#fbd84a;
    text-align: end;
}
.gender-container{
    width: 50%;
    color:#fff;
    padding-left: 15px;
}
.gender-container>h2{
    border-bottom: 2px solid #000;
}
.tr-container{
    border: 2px solid #fff;
    cursor: pointer;
}

.modal-header{
    background-color: #040404;
    color: #fff;
}
::ng-deep .p-datatable-header{
    text-align: center;
}
::ng-deep .p-datatable table{
    border-collapse:inherit;
    margin-top: 20px;;

}
::ng-deep  .p-datatable-thead{
    background-color: #fff;
}

::ng-deep .p-datatable-tbody{
    background-color: #ee6464;
}
::ng-deep .p-datatable table:hover{
    background-color: #fff;
 }