
<div class="row table-list justify-content-center">
    <div class="col-10">
        <p-table #table  [resizableColumns]="true" [columns]="cols" [globalFilterFields]="['name','gender']" [value]="personajes" [scrollable]="true" [rows]="20" scrollHeight="600px"
        [virtualScroll]="true" [virtualRowHeight]="200">
            <ng-template pTemplate="caption">
               <input type="text"  id="searchEvent" placeholder="BUSCA EL NOMBRE DE TU PERSONAJE"  (input)="buscarEvento()">
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr class="mb-5"> 
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <div class="select-gender-search" *ngSwitchCase="'gender'">
                            <select id="select" (change)="busquedaGender()" class="form-select" aria-label="Disabled select example" >
                                <option  value="" selected>Seleccione.. </option>
                                <option value="female">Female</option>
                                <option value="genderless">Genderless</option>
                                <option value="male">Male</option>
                                <option value="unknown">unknown</option>
                              </select>
                        </div>
                    </th>           
                </tr>
                  
            </ng-template>
            <ng-template class="mb-5" pTemplate="body" let-rowData let-columns="columns">
                <tr  class="tr-container">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field" (click)="detailInformation(rowData)"  class="tr-container">
                       
                        <div  class="container-image" *ngSwitchCase="'name'"> 
                            <img src="{{rowData['image']}}" alt="">
                        </div>
                        <div  class="gender-container text-center text-white" *ngSwitchCase="'gender'"> <h2>{{rowData['name']}}</h2></div>
                        <div class="gender-container text-center" *ngSwitchCase="'gender'"> Status:{{rowData['status']}}</div>
                        <div class="gender-container text-center" *ngSwitchCase="'gender'"> Gender:{{rowData['gender']}}</div>               
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="modal fade" id="modalInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
  <div class=" max-width-900" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100">
            {{response.name}}</h4>
            <button type="button" #closebuttonDetail class="close color-button-modal paddding-margin-0" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3 max-width-900">
            <div class="row">
                <div class="col-4">                        
                <img src="{{response.image}}" alt="">
                </div>
                <div class="col-8">
                    <ul class="list-group">
                        <li class="list-group-item">Status: <strong>{{response.status}}</strong> </li>
                        <li class="list-group-item">Gender:<strong>{{response.gender}}</strong> </li>
                        <li class="list-group-item">Species:<strong>{{response.species}}</strong></li>
                        <li class="list-group-item">Created:<strong>{{response.created}}</strong></li>
                        <li class="list-group-item">Type:<strong>{{response.type}}</strong></li>
                        <li class="list-group-item">Url:<strong>{{response.url}}</strong></li>
                        <li class="list-group-item">Id:<strong>{{response.id}}</strong></li>
                        <li class="list-group-item">Origin:
                            <ul>
                                <li>Name:<strong>{{response.origin.name}}</strong></li>
                                <li>Url:<strong>{{response.origin.url}}</strong></li>
                            </ul>

                        </li>
                        <li class="list-group-item">Location:
                            <ul>
                                <li>Name:<strong>{{response.location.name}}</strong></li>
                                <li>Url: <strong>{{response.location.url}}</strong></li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            Episode
                            <ul *ngFor ="let episode of episodios">
                                <li>{{episode}}</li>
                            </ul>
                        </li>
                      </ul>
                </div>
            </div>
        
        </div>
      
      </div>
  </div>
</div>